@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/toolkit-0\.1\.18\/stylesheets\/toolkit\/_border-box\.scss}line{font-family:\000038}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/toolkit-0\.1\.18\/stylesheets\/toolkit\/_fluid-media\.scss}line{font-family:\000034}}
img {
  max-width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, legend, h3, label, .field .field-label, .field label, h4, h5, .view-tournaments-title .views-row .views-field-title > *, .view-news-per-tournament h2, .view-news-per-tournament legend, h6, p, .field-name-field-tournaments .field-items, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/layout\/_main-conainers\.sass}line{font-family:\000037}}
#header, #page, #footer {
  *zoom: 1;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 1130px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
#header:after, #page:after, #footer:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 401px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/layout\/_main-conainers\.sass}line{font-family:\000037}}
  #header, #page, #footer {
    width: auto;
  }
}
@media (min-width: 601px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/layout\/_main-conainers\.sass}line{font-family:\000037}}
  #header, #page, #footer {
    width: auto;
  }
}

@media (min-width: 801px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/layout\/_sidebars\.sass}line{font-family:\000039}}
  .not-front.sidebar-first #content-after-title {
    width: 65.21739%;
    float: left;
    margin-right: 4.34783%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/layout\/_sidebars\.sass}line{font-family:\0000313}}
  .not-front.sidebar-first #sidebar-first {
    width: 30.43478%;
    float: right;
    margin-right: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_html\.sass}line{font-family:\000031}}
html {
  color: #ffe8c7;
  background-color: #1c1007;
  font-size: 16px;
  font-family: "PT Sans";
}
@media (min-width: 1001px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_html\.sass}line{font-family:\000031}}
  html {
    font-size: 1.2em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_a\.sass}line{font-family:\000031}}
a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_a\.sass}line{font-family:\000037}}
a:visited {
  color: mistyrose;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_a\.sass}line{font-family:\0000313}}
a:hover, a:active {
  color: orange;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_a\.sass}line{font-family:\0000317}}
a:hover img, a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_a\.sass}line{font-family:\0000323}}
a.active, li a.active {
  color: #ffe8c7;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_p\.sass}line{font-family:\000031}}
p, .field-name-field-tournaments .field-items {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_strong\.sass}line{font-family:\000031}}
strong, b {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_em\.sass}line{font-family:\000031}}
em, i {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000323}}
h6 {
  font-size: 1.16667em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000323}}
h5, .view-tournaments-title .views-row .views-field-title > *, .view-news-per-tournament h2, .view-news-per-tournament legend {
  font-size: 1.33333em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000323}}
h4 {
  font-size: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000323}}
h3, label, .field .field-label, .field label {
  font-size: 1.66667em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000323}}
h2, legend {
  font-size: 1.83333em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000323}}
h1 {
  font-size: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000329}}
h1 {
  margin-bottom: 0.5em;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000335}}
h1 span {
  font-weight: normal;
}
@media (min-width: 601px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000329}}
  h1 {
    font-size: 3em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000347}}
h1, h2, legend, h3, label, .field .field-label, .field label, h4, h5, .view-tournaments-title .views-row .views-field-title > *, .view-news-per-tournament h2, .view-news-per-tournament legend, h6 {
  font-family: "PT Serif";
  color: #f4c165;
  text-shadow: 0 0 6px #f4c165;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_headings\.sass}line{font-family:\0000357}}
article h1, article h2, article legend, article h3, article label, article .field .field-label, .field article .field-label, article .field label, .field article label, article h4, article h5, article .view-tournaments-title .views-row .views-field-title > *, .view-tournaments-title .views-row article .views-field-title > *, article .view-news-per-tournament h2, .view-news-per-tournament article h2, article .view-news-per-tournament legend, .view-news-per-tournament article legend, article h6 {
  margin: 1em 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_lists\.sass}line{font-family:\000031}}
ul {
  margin-left: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_lists\.sass}line{font-family:\0000311}}
ul.primary li a {
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_lists\.sass}line{font-family:\0000317}}
ul.primary li.active a {
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_textarea\.sass}line{font-family:\000031}}
textarea {
  font-family: "PT Mono";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_tables\.sass}line{font-family:\000033}}
form table, table.views-table {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_tables\.sass}line{font-family:\0000311}}
form table tr.odd, form table tr:nth-child(odd), table.views-table tr.odd, table.views-table tr:nth-child(odd) {
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_tables\.sass}line{font-family:\0000315}}
form table tr.even, form table tr:nth-child(even), table.views-table tr.even, table.views-table tr:nth-child(even) {
  background-color: #452711;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_tables\.sass}line{font-family:\0000321}}
form table tr td, table.views-table tr td {
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_tables\.sass}line{font-family:\0000325}}
form table tr td legend, form table tr td label, table.views-table tr td legend, table.views-table tr td label {
  color: #ffe8c7;
  font-family: "PT Sans";
  text-shadow: none;
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_tables\.sass}line{font-family:\0000331}}
form table tr td .handle, table.views-table tr td .handle {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_legend\.sass}line{font-family:\000035}}
legend a {
  text-decoration: none;
  border-bottom: 2px dashed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_input\.sass}line{font-family:\000033}}
input[type=submit] {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  background-color: #583214;
  color: #ffe8c7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/html\/_input\.sass}line{font-family:\0000313}}
input[type=submit]:hover {
  background-color: #ffe8c7;
  color: #583214;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_fields\.sass}line{font-family:\000031}}
.field {
  margin-bottom: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_fields\.sass}line{font-family:\0000315}}
.field .field-item > *:first-child {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_fields\.sass}line{font-family:\0000323}}
.field-label-inline .field-label:after {
  content: ": ";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_fields\.sass}line{font-family:\0000329}}
fieldset {
  border: 1px solid #ffe8c7;
  padding: 2em;
  margin-bottom: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_fields\.sass}line{font-family:\0000343}}
fieldset .form-wrapper {
  margin: 2em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_fields\.sass}line{font-family:\0000347}}
fieldset .form-wrapper:first-of-type {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_fields\.sass}line{font-family:\0000351}}
fieldset .form-wrapper:last-of-type {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_fields\.sass}line{font-family:\0000355}}
fieldset .form-wrapper .form-item {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_fields\.sass}line{font-family:\0000367}}
.field-type-entityreference .form-item div label {
  color: #ffe8c7;
  font-family: "PT Sans";
  text-shadow: none;
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_fields\.sass}line{font-family:\0000375}}
.field-type-entityreference .field-items .field-label {
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\0000341}}
.field-name-field-timetable .field-item {
  margin: 0.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\0000347}}
.field-name-field-timetable .field-item .field {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\0000353}}
.field-name-field-timetable .field-item .field .field-item {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\0000359}}
.field-name-field-timetable .field-item .field-name-field-timetable-date {
  float: left;
  margin-right: 2em;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\0000373}}
form .field-name-field-timetable td:nth-child(2) > * {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\0000381}}
form .field-name-field-timetable td:nth-child(2) .field-type-datetime fieldset {
  border: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\0000389}}
form .field-name-field-timetable td:nth-child(2) .field-type-datetime fieldset .date-padding {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\0000393}}
form .field-name-field-timetable td:nth-child(2) .field-type-datetime fieldset .date-padding > * {
  display: inline-block;
  float: none;
  margin-right: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\00003103}}
form .field-name-field-timetable td:nth-child(2) .form-submit {
  margin: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\00003117}}
form .field-name-field-timetable td:nth-child(2) .form-wrapper {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_timetable\.sass}line{font-family:\00003125}}
form .field-name-field-timetable td:nth-child(2) .field-type-datetime legend {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_map\.sass}line{font-family:\000033}}
.field-name-field-map .field-item > * {
  height: 175px !important;
}
@media (min-height: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_map\.sass}line{font-family:\000033}}
  .field-name-field-map .field-item > * {
    height: 250px !important;
  }
}
@media (min-height: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_map\.sass}line{font-family:\000033}}
  .field-name-field-map .field-item > * {
    height: 300px !important;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_vertical-tabs\.sass}line{font-family:\000035}}
.vertical-tabs ul.vertical-tabs-list li {
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_vertical-tabs\.sass}line{font-family:\000039}}
.vertical-tabs ul.vertical-tabs-list li strong {
  border-bottom: 1px dashed;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_vertical-tabs\.sass}line{font-family:\0000313}}
.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: none;
  border-bottom: 1px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_vertical-tabs\.sass}line{font-family:\0000319}}
.vertical-tabs ul.vertical-tabs-list li.selected {
  background: #452711;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_vertical-tabs\.sass}line{font-family:\0000323}}
.vertical-tabs ul.vertical-tabs-list li.selected strong {
  color: #f4c165;
  border-bottom: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_image\.sass}line{font-family:\000033}}
.views-field-field-image img, .field-name-field-image img {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}

@media (min-width: 601px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_image\.sass}line{font-family:\0000311}}
  .page-node .field-name-field-image {
    max-width: 100%;
    width: 50%;
    height: auto;
    float: right;
    margin-left: 2em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_captcha\.sass}line{font-family:\000031}}
fieldset.captcha {
  border: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_captcha\.sass}line{font-family:\0000313}}
fieldset.captcha #recaptcha_image {
  float: left;
  margin-right: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_captcha\.sass}line{font-family:\0000321}}
fieldset.captcha #recaptcha_image img {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_captcha\.sass}line{font-family:\0000327}}
fieldset.captcha .recaptcha_only_if_image,
fieldset.captcha .recaptcha_help {
  display: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_captcha\.sass}line{font-family:\0000335}}
fieldset.captcha #recaptcha_response_field {
  margin-bottom: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_captcha\.sass}line{font-family:\0000343}}
fieldset.captcha .recaptcha_get_another_captcha a {
  text-decoration: none;
  border-bottom: 1px dashed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_tournaments\.sass}line{font-family:\000031}}
.field-name-field-tournaments {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/fields\/_tournaments\.sass}line{font-family:\0000315}}
.field-name-field-tournaments .field-items .field-item {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  padding: 0;
  margin: 0;
  padding-right: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/global\/mixins\/_horiz-list\.sass}line{font-family:\0000321}}
.field-name-field-tournaments .field-items .field-item:last-child, .field-name-field-tournaments .field-items .field-item.last, .field-name-field-tournaments .field-items .field-item.last-item {
  padding-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_blocks\.sass}line{font-family:\000031}}
.block {
  margin-bottom: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_blocks\.sass}line{font-family:\000039}}
.block .content > :last-child {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_site-title\.sass}line{font-family:\000031}}
.block.site-title {
  font-size: 1.2em;
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_site-title\.sass}line{font-family:\000037}}
.block.site-title h2, .block.site-title legend {
  font-family: "PT Serif";
  font-weight: normal;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_site-title\.sass}line{font-family:\0000315}}
.block.site-title h2 span, .block.site-title legend span {
  font-weight: bold;
}
@media (min-width: 401px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_site-title\.sass}line{font-family:\000031}}
  .block.site-title {
    font-size: 1.5em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_slogan\.sass}line{font-family:\000033}}
#block-block-5 p, #block-block-5 .field-name-field-tournaments .field-items, .field-name-field-tournaments #block-block-5 .field-items {
  margin-top: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_main-menu\.sass}line{font-family:\000031}}
#block-system-main-menu {
  font-size: 1.2em;
  margin-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_main-menu\.sass}line{font-family:\000039}}
#block-system-main-menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
  line-height: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/global\/mixins\/_horiz-list\.sass}line{font-family:\0000337}}
#block-system-main-menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  padding: 0;
  margin: 0;
  padding-right: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/global\/mixins\/_horiz-list\.sass}line{font-family:\0000321}}
#block-system-main-menu ul li:last-child, #block-system-main-menu ul li.last, #block-system-main-menu ul li.last-item {
  padding-right: 0;
}
@media (min-width: 601px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_main-menu\.sass}line{font-family:\000039}}
  #block-system-main-menu ul {
    text-align: right;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_tournaments-menu\.sass}line{font-family:\000033}}
#block-menu-menu-tournaments ul.menu {
  text-align: center;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_tournaments-menu\.sass}line{font-family:\0000311}}
#block-menu-menu-tournaments ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
@media (min-width: 401px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_tournaments-menu\.sass}line{font-family:\000033}}
  #block-menu-menu-tournaments ul.menu {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    overflow: visible;
    line-height: 1.2em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/global\/mixins\/_horiz-list\.sass}line{font-family:\0000337}}
  #block-menu-menu-tournaments ul.menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    padding: 0;
    margin: 0;
    padding-right: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/global\/mixins\/_horiz-list\.sass}line{font-family:\0000321}}
  #block-menu-menu-tournaments ul.menu li:last-child, #block-menu-menu-tournaments ul.menu li.last, #block-menu-menu-tournaments ul.menu li.last-item {
    padding-right: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_mission\.sass}line{font-family:\000031}}
#block-block-6 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 1.2em;
  font-family: "PT Serif";
  font-style: italic;
  text-shadow: 0 0 6px #f4c165;
}
@media (min-width: 401px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_mission\.sass}line{font-family:\000031}}
  #block-block-6 {
    font-size: 1.5em;
  }
}
@media (min-width: 601px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/blocks\/_mission\.sass}line{font-family:\000031}}
  #block-block-6 {
    font-size: 2em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\000037}}
.view-tournaments-title {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.view-tournaments-title:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000313}}
.view-tournaments-title .views-row {
  vertical-align: top;
  position: relative;
  margin-bottom: 2em;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000327}}
.view-tournaments-title .views-row img {
  -webkit-border-radius: 1em 1em 0 0;
  -moz-border-radius: 1em 1em 0 0;
  -ms-border-radius: 1em 1em 0 0;
  -o-border-radius: 1em 1em 0 0;
  border-radius: 1em 1em 0 0;
  width: 100%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000339}}
.view-tournaments-title .views-row .views-field-title, .view-tournaments-title .views-row .views-field-field-status {
  padding: 0.2em;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\00003109}}
#block-views-tournaments-title-block-1 {
  margin-bottom: 0;
}
@media (min-width: 401px) and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\00003115}}
  #block-views-tournaments-title-block-1 .views-row {
    display: inline-block;
    width: 46.66667%;
    margin: 0 6.66667% 6.66667% 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000367}}
  #block-views-tournaments-title-block-1 .views-row:nth-child(2n+0) {
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\00003123}}
  #block-views-tournaments-title-block-1 .views-row:first-child, #block-views-tournaments-title-block-1 .views-row:nth-child(2) {
    display: inline-block;
    width: 100%;
    margin: 0 6.66667% 6.66667% 0;
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000367}}
  #block-views-tournaments-title-block-1 .views-row:first-child:nth-child(1n+0), #block-views-tournaments-title-block-1 .views-row:nth-child(2):nth-child(1n+0) {
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000377}}
  #block-views-tournaments-title-block-1 .views-row:first-child img, #block-views-tournaments-title-block-1 .views-row:nth-child(2) img {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000383}}
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-title,
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-field-status, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-title,
  #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-field-status {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000393}}
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-title, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-title {
    bottom: 1.6em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000399}}
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-field-status, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-field-status {
    bottom: 0;
    padding-bottom: 0.4em;
    -webkit-border-radius: 0 0 1em 1em;
    -moz-border-radius: 0 0 1em 1em;
    -ms-border-radius: 0 0 1em 1em;
    -o-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\00003115}}
  #block-views-tournaments-title-block-1 .views-row {
    display: inline-block;
    width: 47.82609%;
    margin: 0 4.34783% 4.34783% 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000367}}
  #block-views-tournaments-title-block-1 .views-row:nth-child(2n+0) {
    margin-right: 0;
  }
}
@media (min-width: 801px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\00003115}}
  #block-views-tournaments-title-block-1 .views-row {
    display: inline-block;
    width: 30.43478%;
    margin: 0 4.34783% 4.34783% 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000367}}
  #block-views-tournaments-title-block-1 .views-row:nth-child(3n+5) {
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\00003143}}
  #block-views-tournaments-title-block-1 .views-row:first-child, #block-views-tournaments-title-block-1 .views-row:nth-child(2) {
    display: inline-block;
    width: 47.82609%;
    margin: 0 4.34783% 4.34783% 0;
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000367}}
  #block-views-tournaments-title-block-1 .views-row:first-child:nth-child(2n+0), #block-views-tournaments-title-block-1 .views-row:nth-child(2):nth-child(2n+0) {
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000377}}
  #block-views-tournaments-title-block-1 .views-row:first-child img, #block-views-tournaments-title-block-1 .views-row:nth-child(2) img {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000383}}
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-title,
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-field-status, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-title,
  #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-field-status {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000393}}
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-title, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-title {
    bottom: 1.6em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_tournaments_front\.sass}line{font-family:\0000399}}
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-field-status, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-field-status {
    bottom: 0;
    padding-bottom: 0.4em;
    -webkit-border-radius: 0 0 1em 1em;
    -moz-border-radius: 0 0 1em 1em;
    -ms-border-radius: 0 0 1em 1em;
    -o-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_judjes_per_tournament\.sass}line{font-family:\000033}}
.view-id-judjes_per_tournament .views-row {
  *zoom: 1;
  margin: 0.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/local\/rvm\/gems\/ruby-1\.9\.3-p194\/gems\/compass-0\.13\.alpha\.0\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.view-id-judjes_per_tournament .views-row:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_judjes_per_tournament\.sass}line{font-family:\0000311}}
.view-id-judjes_per_tournament .views-row > * {
  margin-left: 4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_judjes_per_tournament\.sass}line{font-family:\0000317}}
.view-id-judjes_per_tournament .views-row .views-field-field-image {
  margin-left: 0;
  width: 3em;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_news_per_tournament\.sass}line{font-family:\0000311}}
.view-news-per-tournament .current-date {
  font-size: 0.7em;
  color: #d0bea3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/views\/_news_per_tournament\.sass}line{font-family:\0000319}}
.view-news-per-tournament .field-name-field-image {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/stuff\/_colorbox\.sass}line{font-family:\000033}}
#colorbox, #colorbox * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/stuff\/_colorbox\.sass}line{font-family:\000039}}
#colorbox img {
  min-width: 400px;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/sections\/_header\.sass}line{font-family:\000031}}
#header-wrapper {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #ffa500));
  background-image: -webkit-linear-gradient(#ff0000, #ffa500);
  background-image: -moz-linear-gradient(#ff0000, #ffa500);
  background-image: -o-linear-gradient(#ff0000, #ffa500);
  background-image: -ms-linear-gradient(#ff0000, #ffa500);
  background-image: linear-gradient(#ff0000, #ffa500);
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/sections\/_header\.sass}line{font-family:\000039}}
#header-wrapper h2, #header-wrapper legend, #header-wrapper p, #header-wrapper .field-name-field-tournaments .field-items, .field-name-field-tournaments #header-wrapper .field-items, #header-wrapper li, #header-wrapper a {
  color: #fff2e1;
  text-shadow: 0 0 6px #1c1007, 0 0 6px #1c1007, 0 0 6px #1c1007;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/sections\/_header\.sass}line{font-family:\0000321}}
#header-wrapper .block {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/sections\/_header\.sass}line{font-family:\0000327}}
#header {
  background: url("../images/skyline-brown-transparent.png") bottom center no-repeat;
  background-size: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/sections\/_header\.sass}line{font-family:\0000333}}
#header > * {
  padding-bottom: 18%;
}

@media (min-width: 601px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/sections\/_header-first\.sass}line{font-family:\000031}}
  #header-first {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
}

@media (min-width: 601px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/drupal-7-a\/sites\/all\/themes\/ruscup_aurora\/sass\/partials\/modules\/sections\/_header-second\.sass}line{font-family:\000031}}
  #header-second {
    width: 47.82609%;
    float: right;
    margin-right: 0;
  }
}
