@charset "UTF-8";
/* line 10, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/toolkit-0.2.1.1/stylesheets/toolkit/_border-box.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/toolkit-0.2.1.1/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 17, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, legend, h3, label, .field .field-label, .field label, h4, h5, .view-tournaments-title .views-row .views-field-title > *, .view-news-per-tournament h2, .view-news-per-tournament legend, h6, p, .field-name-field-tournaments .field-items, .view-news-per-tournament .field-name-field-image, .view-news-per-tournament .views-field-created, .view-news-per-tournament .views-field-field-tournaments, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/partials/modules/layout/_main-conainers.sass */
#header, #page, #footer {
  *zoom: 1;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 1066px;
}
/* line 38, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header:after, #page:after, #footer:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 401px) {
  /* line 7, ../sass/partials/modules/layout/_main-conainers.sass */
  #header, #page, #footer {
    width: auto;
  }
}
@media (min-width: 601px) {
  /* line 7, ../sass/partials/modules/layout/_main-conainers.sass */
  #header, #page, #footer {
    width: auto;
  }
}

@media (min-width: 801px) {
  /* line 9, ../sass/partials/modules/layout/_sidebars.sass */
  .not-front.sidebar-first #content-after-title {
    width: 65.21739%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 13, ../sass/partials/modules/layout/_sidebars.sass */
  .not-front.sidebar-first #sidebar-first {
    width: 30.43478%;
    float: right;
    margin-right: 0;
  }
}

/* line 1, ../sass/partials/modules/html/_html.sass */
html {
  color: #ffe8c7;
  font-size: 16px;
  font-family: "PT Sans", Verdana, Geneva, Tahoma, sans-serif;
  background: url("../images/norwegian-rose-brown-dark.png") repeat;
}
@media (min-width: 1001px) {
  /* line 1, ../sass/partials/modules/html/_html.sass */
  html {
    font-size: 1.2em;
  }
}

/* line 1, ../sass/partials/modules/html/_a.sass */
a {
  color: white;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  padding: 0 0.2em;
  margin: 0 -0.2em;
  -webkit-transition: background-color linear 0.5s, color linear 0.5s;
  -moz-transition: background-color linear 0.5s, color linear 0.5s;
  -ms-transition: background-color linear 0.5s, color linear 0.5s;
  -o-transition: background-color linear 0.5s, color linear 0.5s;
  transition: background-color linear 0.5s, color linear 0.5s;
}
/* line 17, ../sass/partials/modules/html/_a.sass */
a img {
  -webkit-transition: opacity linear 0.5s;
  -moz-transition: opacity linear 0.5s;
  -ms-transition: opacity linear 0.5s;
  -o-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}
/* line 23, ../sass/partials/modules/html/_a.sass */
a:visited {
  color: mistyrose;
}
/* line 29, ../sass/partials/modules/html/_a.sass */
a:hover, a:active {
  color: orange;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 33, ../sass/partials/modules/html/_a.sass */
a:hover img, a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 45, ../sass/partials/modules/html/_a.sass */
a.active, li a.active {
  color: #ffe8c7;
  text-decoration: none;
}
/* line 53, ../sass/partials/modules/html/_a.sass */
a.nolink {
  color: #f4c165;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 65, ../sass/partials/modules/html/_a.sass */
a.nolink:hover {
  background-color: transparent;
}

/* line 1, ../sass/partials/modules/html/_p.sass */
p, .field-name-field-tournaments .field-items, .view-news-per-tournament .field-name-field-image, .view-news-per-tournament .views-field-created, .view-news-per-tournament .views-field-field-tournaments {
  margin: 1em 0;
}

/* line 1, ../sass/partials/modules/html/_strong.sass */
strong, b {
  font-weight: bold;
}

/* line 1, ../sass/partials/modules/html/_em.sass */
em, i {
  font-style: italic;
}

/* line 23, ../sass/partials/modules/html/_headings.sass */
h6 {
  font-size: 1.16667em;
}

/* line 23, ../sass/partials/modules/html/_headings.sass */
h5, .view-tournaments-title .views-row .views-field-title > *, .view-news-per-tournament h2, .view-news-per-tournament legend {
  font-size: 1.33333em;
}

/* line 23, ../sass/partials/modules/html/_headings.sass */
h4 {
  font-size: 1.5em;
}

/* line 23, ../sass/partials/modules/html/_headings.sass */
h3, label, .field .field-label, .field label {
  font-size: 1.66667em;
}

/* line 23, ../sass/partials/modules/html/_headings.sass */
h2, legend {
  font-size: 1.83333em;
}

/* line 23, ../sass/partials/modules/html/_headings.sass */
h1 {
  font-size: 2em;
}

/* line 29, ../sass/partials/modules/html/_headings.sass */
h1 {
  margin-bottom: 0.5em;
  font-weight: bold;
}
/* line 35, ../sass/partials/modules/html/_headings.sass */
h1 span {
  font-weight: normal;
}

/* line 47, ../sass/partials/modules/html/_headings.sass */
h1, h2, legend, h3, label, .field .field-label, .field label, h4, h5, .view-tournaments-title .views-row .views-field-title > *, .view-news-per-tournament h2, .view-news-per-tournament legend, h6 {
  font-family: "PT Serif", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  color: #f4c165;
  text-shadow: 0 0 6px #f4c165;
}
/* line 57, ../sass/partials/modules/html/_headings.sass */
article h1, article h2, article legend, article h3, article label, article .field .field-label, .field article .field-label, article .field label, .field article label, article h4, article h5, article .view-tournaments-title .views-row .views-field-title > *, .view-tournaments-title .views-row article .views-field-title > *, article .view-news-per-tournament h2, .view-news-per-tournament article h2, article .view-news-per-tournament legend, .view-news-per-tournament article legend, article h6 {
  margin: 0.5em 0 0.2em;
}

/* line 3, ../sass/partials/modules/html/_lists.sass */
ul ul {
  margin-left: 2em;
}
/* line 11, ../sass/partials/modules/html/_lists.sass */
ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 21, ../sass/partials/modules/html/_lists.sass */
ul.primary li a {
  background-color: transparent;
  -webkit-border-radius: 1em 1em 0 0;
  -moz-border-radius: 1em 1em 0 0;
  -ms-border-radius: 1em 1em 0 0;
  -o-border-radius: 1em 1em 0 0;
  border-radius: 1em 1em 0 0;
}
/* line 29, ../sass/partials/modules/html/_lists.sass */
ul.primary li.active a {
  color: black;
}

/* line 1, ../sass/partials/modules/html/_textarea.sass */
textarea {
  font-family: "PT Mono", "Courier New", Courier, "Andale Mono", monospace;
}

/* line 3, ../sass/partials/modules/html/_tables.sass */
form table, table.views-table {
  width: 100%;
}
/* line 11, ../sass/partials/modules/html/_tables.sass */
form table tr.odd, form table tr:nth-child(odd), table.views-table tr.odd, table.views-table tr:nth-child(odd) {
  background-color: transparent;
}
/* line 15, ../sass/partials/modules/html/_tables.sass */
form table tr.even, form table tr:nth-child(even), table.views-table tr.even, table.views-table tr:nth-child(even) {
  background-color: #452711;
}
/* line 21, ../sass/partials/modules/html/_tables.sass */
form table tr td, table.views-table tr td {
  padding: 1em;
}
/* line 25, ../sass/partials/modules/html/_tables.sass */
form table tr td legend, form table tr td label, table.views-table tr td legend, table.views-table tr td label {
  color: #ffe8c7;
  font-family: "PT Sans", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: none;
  font-size: 1em;
}
/* line 31, ../sass/partials/modules/html/_tables.sass */
form table tr td .handle, table.views-table tr td .handle {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 5, ../sass/partials/modules/html/_legend.sass */
legend a {
  text-decoration: none;
  border-bottom: 1px dashed;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 3, ../sass/partials/modules/html/_input.sass */
input[type=submit] {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  background-color: #583214;
  color: #ffe8c7;
}
/* line 13, ../sass/partials/modules/html/_input.sass */
input[type=submit]:hover {
  background-color: #ffe8c7;
  color: #583214;
}

/* line 1, ../sass/partials/modules/fields/_fields.sass */
.field {
  margin-bottom: 2em;
}
/* line 15, ../sass/partials/modules/fields/_fields.sass */
.field .field-item > *:first-child {
  margin-top: 0;
}

/* line 23, ../sass/partials/modules/fields/_fields.sass */
.field-label-inline .field-label {
  margin: 0 !important;
}
/* line 27, ../sass/partials/modules/fields/_fields.sass */
.field-label-inline .field-label:after {
  content: ": ";
}

/* line 33, ../sass/partials/modules/fields/_fields.sass */
fieldset {
  border: 1px solid #ffe8c7;
  padding: 2em;
  margin-bottom: 2em;
}
/* line 47, ../sass/partials/modules/fields/_fields.sass */
fieldset .form-wrapper {
  margin: 2em 0;
}
/* line 51, ../sass/partials/modules/fields/_fields.sass */
fieldset .form-wrapper:first-of-type {
  margin-top: 0;
}
/* line 55, ../sass/partials/modules/fields/_fields.sass */
fieldset .form-wrapper:last-of-type {
  margin-bottom: 0;
}
/* line 59, ../sass/partials/modules/fields/_fields.sass */
fieldset .form-wrapper .form-item {
  margin: 0;
}

/* line 71, ../sass/partials/modules/fields/_fields.sass */
.field-type-entityreference .form-item div label {
  color: #ffe8c7;
  font-family: "PT Sans", Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: none;
  font-size: 1em;
}
/* line 79, ../sass/partials/modules/fields/_fields.sass */
.field-type-entityreference .field-items .field-label {
  font-size: 1em;
}

/* line 41, ../sass/partials/modules/fields/_timetable.sass */
.field-name-field-timetable .field-item {
  margin: 0.5em 0;
}
/* line 47, ../sass/partials/modules/fields/_timetable.sass */
.field-name-field-timetable .field-item .field {
  margin: 0;
}
/* line 53, ../sass/partials/modules/fields/_timetable.sass */
.field-name-field-timetable .field-item .field .field-item {
  margin: 0;
}
/* line 59, ../sass/partials/modules/fields/_timetable.sass */
.field-name-field-timetable .field-item .field-name-field-timetable-date {
  float: left;
  margin-right: 2em;
  font-weight: bold;
}

/* line 73, ../sass/partials/modules/fields/_timetable.sass */
form .field-name-field-timetable td:nth-child(2) > * {
  float: left;
}
/* line 81, ../sass/partials/modules/fields/_timetable.sass */
form .field-name-field-timetable td:nth-child(2) .field-type-datetime fieldset {
  border: none;
  padding: 0;
}
/* line 89, ../sass/partials/modules/fields/_timetable.sass */
form .field-name-field-timetable td:nth-child(2) .field-type-datetime fieldset .date-padding {
  padding: 0;
}
/* line 93, ../sass/partials/modules/fields/_timetable.sass */
form .field-name-field-timetable td:nth-child(2) .field-type-datetime fieldset .date-padding > * {
  display: inline-block;
  float: none;
  margin-right: 1em;
}
/* line 103, ../sass/partials/modules/fields/_timetable.sass */
form .field-name-field-timetable td:nth-child(2) .form-submit {
  margin: 1em;
}
/* line 117, ../sass/partials/modules/fields/_timetable.sass */
form .field-name-field-timetable td:nth-child(2) .form-wrapper {
  margin: 0;
}
/* line 125, ../sass/partials/modules/fields/_timetable.sass */
form .field-name-field-timetable td:nth-child(2) .field-type-datetime legend {
  display: none;
}

/* line 3, ../sass/partials/modules/fields/_map.sass */
.field-name-field-map .field-item > * {
  height: 175px !important;
}
@media (min-height: 400px) {
  /* line 3, ../sass/partials/modules/fields/_map.sass */
  .field-name-field-map .field-item > * {
    height: 250px !important;
  }
}
@media (min-height: 600px) {
  /* line 3, ../sass/partials/modules/fields/_map.sass */
  .field-name-field-map .field-item > * {
    height: 300px !important;
  }
}

/* line 5, ../sass/partials/modules/fields/_vertical-tabs.sass */
.vertical-tabs ul.vertical-tabs-list li {
  background: transparent;
}
/* line 9, ../sass/partials/modules/fields/_vertical-tabs.sass */
.vertical-tabs ul.vertical-tabs-list li strong {
  text-decoration: none;
  border-bottom: 1px dashed;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 13, ../sass/partials/modules/fields/_vertical-tabs.sass */
.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: none;
  border-bottom: 1px solid;
}
/* line 19, ../sass/partials/modules/fields/_vertical-tabs.sass */
.vertical-tabs ul.vertical-tabs-list li.selected {
  background: #452711;
}
/* line 23, ../sass/partials/modules/fields/_vertical-tabs.sass */
.vertical-tabs ul.vertical-tabs-list li.selected strong {
  color: #f4c165;
  border-bottom: none !important;
}

/* line 5, ../sass/partials/modules/fields/_image.sass */
.field-name-field-image img,
.views-field-field-image img {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
/* line 11, ../sass/partials/modules/fields/_image.sass */
.field-name-field-image a:hover, .field-name-field-image a:active,
.views-field-field-image a:hover,
.views-field-field-image a:active {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@media (min-width: 601px) {
  /* line 25, ../sass/partials/modules/fields/_image.sass */
  #content-after-title .node .field-name-field-image {
    max-width: 100%;
    width: 50%;
    height: auto;
    float: right;
    margin-left: 2em;
  }
}

/* line 1, ../sass/partials/modules/fields/_captcha.sass */
fieldset.captcha {
  border: 0;
  padding: 0;
}
/* line 13, ../sass/partials/modules/fields/_captcha.sass */
fieldset.captcha #recaptcha_image {
  float: left;
  margin-right: 2em;
}
/* line 21, ../sass/partials/modules/fields/_captcha.sass */
fieldset.captcha #recaptcha_image img {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
/* line 27, ../sass/partials/modules/fields/_captcha.sass */
fieldset.captcha .recaptcha_only_if_image,
fieldset.captcha .recaptcha_help {
  display: none !important;
}
/* line 35, ../sass/partials/modules/fields/_captcha.sass */
fieldset.captcha #recaptcha_response_field {
  margin-bottom: 0.5em;
}
/* line 43, ../sass/partials/modules/fields/_captcha.sass */
fieldset.captcha .recaptcha_get_another_captcha a {
  text-decoration: none;
  border-bottom: 1px dashed;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 1, ../sass/partials/modules/fields/_tournaments.sass */
.field-name-field-tournaments {
  margin-bottom: 0;
}
/* line 15, ../sass/partials/modules/fields/_tournaments.sass */
.field-name-field-tournaments .field-items .field-item {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  padding: 0;
  margin: 0;
  padding-right: 1em;
}
/* line 21, ../sass/partials/global/mixins/_horiz-list.sass */
.field-name-field-tournaments .field-items .field-item:last-child, .field-name-field-tournaments .field-items .field-item.last, .field-name-field-tournaments .field-items .field-item.last-item {
  padding-right: 0;
}

/* line 7, ../sass/partials/modules/fields/_youtube.sass */
.node .field-name-field-video .field-item {
  margin-bottom: 1em;
}
/* line 13, ../sass/partials/modules/fields/_youtube.sass */
.node .field-name-field-video .field-item iframe {
  width: 100%;
}
@media (min-width: 801px) {
  /* line 21, ../sass/partials/modules/fields/_youtube.sass */
  #content-after-title .node .field-name-field-video {
    float: right;
    margin-left: 2em;
  }
}

/* line 3, ../sass/partials/modules/fields/_future-dates.sass */
#edit-field-future-dates fieldset {
  border: 0;
  padding: 0;
}
/* line 11, ../sass/partials/modules/fields/_future-dates.sass */
#edit-field-future-dates legend {
  display: none;
}

/* line 19, ../sass/partials/modules/fields/_future-dates.sass */
.field-name-field-future-dates .field-item {
  margin: 0.5em 0;
}

/* line 3, ../sass/partials/modules/fields/_categories-per-view.sass */
.field-name-field-categories-view .views-row {
  *zoom: 1;
  margin: 0.5em 0;
}
/* line 38, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.field-name-field-categories-view .views-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../sass/partials/modules/fields/_categories-per-view.sass */
.field-name-field-categories-view .views-row .views-field-php {
  float: right;
}
/* line 15, ../sass/partials/modules/fields/_categories-per-view.sass */
.field-name-field-categories-view .views-row .views-field-php p, .field-name-field-categories-view .views-row .views-field-php .field-name-field-tournaments .field-items, .field-name-field-tournaments .field-name-field-categories-view .views-row .views-field-php .field-items, .field-name-field-categories-view .views-row .views-field-php .view-news-per-tournament .field-name-field-image, .view-news-per-tournament .field-name-field-categories-view .views-row .views-field-php .field-name-field-image, .field-name-field-categories-view .views-row .views-field-php .view-news-per-tournament .views-field-created, .view-news-per-tournament .field-name-field-categories-view .views-row .views-field-php .views-field-created, .field-name-field-categories-view .views-row .views-field-php .view-news-per-tournament .views-field-field-tournaments, .view-news-per-tournament .field-name-field-categories-view .views-row .views-field-php .views-field-field-tournaments {
  margin: 0;
}

/* line 1, ../sass/partials/modules/blocks/_blocks.sass */
.block {
  margin-bottom: 2em;
}
/* line 9, ../sass/partials/modules/blocks/_blocks.sass */
.block .content > :last-child {
  margin-bottom: 0;
}

/* line 1, ../sass/partials/modules/blocks/_site-title.sass */
.block.site-title {
  font-size: 1.2em;
  padding-top: 0.5em;
}
/* line 7, ../sass/partials/modules/blocks/_site-title.sass */
.block.site-title h2, .block.site-title legend {
  font-family: "PT Serif", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 15, ../sass/partials/modules/blocks/_site-title.sass */
.block.site-title h2 span, .block.site-title legend span {
  font-weight: bold;
}
@media (min-width: 401px) {
  /* line 1, ../sass/partials/modules/blocks/_site-title.sass */
  .block.site-title {
    font-size: 1.5em;
  }
}

/* line 3, ../sass/partials/modules/blocks/_slogan.sass */
#block-block-5 p, #block-block-5 .field-name-field-tournaments .field-items, .field-name-field-tournaments #block-block-5 .field-items, #block-block-5 .view-news-per-tournament .field-name-field-image, .view-news-per-tournament #block-block-5 .field-name-field-image, #block-block-5 .view-news-per-tournament .views-field-created, .view-news-per-tournament #block-block-5 .views-field-created, #block-block-5 .view-news-per-tournament .views-field-field-tournaments, .view-news-per-tournament #block-block-5 .views-field-field-tournaments {
  margin-top: 0.5em;
  font-size: 1.5em;
}

/* line 1, ../sass/partials/modules/blocks/_main-menu.sass */
#block-system-main-menu {
  font-size: 1.2em;
  margin-top: 1em;
}
/* line 9, ../sass/partials/modules/blocks/_main-menu.sass */
#block-system-main-menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
  line-height: 1.2em;
}
/* line 37, ../sass/partials/global/mixins/_horiz-list.sass */
#block-system-main-menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  padding: 0;
  margin: 0;
  padding-right: 1em;
}
/* line 21, ../sass/partials/global/mixins/_horiz-list.sass */
#block-system-main-menu ul li:last-child, #block-system-main-menu ul li.last, #block-system-main-menu ul li.last-item {
  padding-right: 0;
}
@media (min-width: 601px) {
  /* line 9, ../sass/partials/modules/blocks/_main-menu.sass */
  #block-system-main-menu ul {
    text-align: right;
  }
}

/* line 3, ../sass/partials/modules/blocks/_tournaments-menu.sass */
#block-menu-menu-tournaments ul.menu {
  text-align: center;
  margin: 0;
}
/* line 11, ../sass/partials/modules/blocks/_tournaments-menu.sass */
#block-menu-menu-tournaments ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
@media (min-width: 401px) {
  /* line 3, ../sass/partials/modules/blocks/_tournaments-menu.sass */
  #block-menu-menu-tournaments ul.menu {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    overflow: visible;
    line-height: 1.2em;
  }
  /* line 37, ../sass/partials/global/mixins/_horiz-list.sass */
  #block-menu-menu-tournaments ul.menu li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    padding: 0;
    margin: 0;
    padding-right: 1em;
  }
  /* line 21, ../sass/partials/global/mixins/_horiz-list.sass */
  #block-menu-menu-tournaments ul.menu li:last-child, #block-menu-menu-tournaments ul.menu li.last, #block-menu-menu-tournaments ul.menu li.last-item {
    padding-right: 0;
  }
}

/* line 1, ../sass/partials/modules/blocks/_mission.sass */
#block-block-6 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 1.2em;
  font-family: "PT Serif", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-style: italic;
  text-shadow: 0 0 6px #f4c165;
}
@media (min-width: 401px) {
  /* line 1, ../sass/partials/modules/blocks/_mission.sass */
  #block-block-6 {
    font-size: 1.5em;
  }
}
@media (min-width: 601px) {
  /* line 1, ../sass/partials/modules/blocks/_mission.sass */
  #block-block-6 {
    font-size: 2em;
  }
}

/* line 3, ../sass/partials/modules/blocks/_tournament-items-menu.sass */
#block-block-8 ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
  line-height: 1.2em;
}
/* line 37, ../sass/partials/global/mixins/_horiz-list.sass */
#block-block-8 ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  padding: 0;
  margin: 0;
  padding-right: 1em;
}
/* line 21, ../sass/partials/global/mixins/_horiz-list.sass */
#block-block-8 ul li:last-child, #block-block-8 ul li.last, #block-block-8 ul li.last-item {
  padding-right: 0;
}
/* line 7, ../sass/partials/modules/blocks/_tournament-items-menu.sass */
#block-block-8 ul li {
  display: none;
}
/* line 13, ../sass/partials/modules/blocks/_tournament-items-menu.sass */
#block-block-8 ul li a {
  text-decoration: none;
  border-bottom: 1px dashed;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 3, ../sass/partials/modules/blocks/_login-for-staff.sass */
#block-block-9 p, #block-block-9 .field-name-field-tournaments .field-items, .field-name-field-tournaments #block-block-9 .field-items, #block-block-9 .view-news-per-tournament .field-name-field-image, .view-news-per-tournament #block-block-9 .field-name-field-image, #block-block-9 .view-news-per-tournament .views-field-created, .view-news-per-tournament #block-block-9 .views-field-created, #block-block-9 .view-news-per-tournament .views-field-field-tournaments, .view-news-per-tournament #block-block-9 .views-field-field-tournaments {
  margin: 0;
}

/* line 7, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form fieldset#node_application_form_group_partners,
#application-node-form fieldset#node_application_form_group_pair_wrapper {
  border-width: 0px;
  padding: 0px;
}
/* line 15, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form fieldset#node_application_form_group_partners > legend,
#application-node-form fieldset#node_application_form_group_pair_wrapper > legend {
  display: none;
}
@media (min-width: 601px) {
  /* line 23, ../sass/partials/modules/nodes/_application-add.sass */
  #application-node-form fieldset#node_application_form_group_partners fieldset,
  #application-node-form fieldset#node_application_form_group_pair_wrapper fieldset {
    margin-bottom: 0;
  }
  /* line 29, ../sass/partials/modules/nodes/_application-add.sass */
  #application-node-form fieldset#node_application_form_group_partners > * > fieldset:first-child,
  #application-node-form fieldset#node_application_form_group_pair_wrapper > * > fieldset:first-child {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 33, ../sass/partials/modules/nodes/_application-add.sass */
  #application-node-form fieldset#node_application_form_group_partners > * > fieldset:last-child,
  #application-node-form fieldset#node_application_form_group_pair_wrapper > * > fieldset:last-child {
    width: 47.82609%;
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
}
/* line 41, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form label {
  float: left;
  width: 5em;
  margin-right: 1em;
}
/* line 51, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form input[type="text"], #application-node-form select {
  width: 10em;
  max-width: 100%;
  margin-top: 0.5em;
}
/* line 67, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form .field-type-datetime fieldset {
  border-width: 0;
  padding: 0px;
}
/* line 75, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form .field-type-datetime fieldset legend {
  display: none;
}
/* line 81, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form .field-type-datetime fieldset .date-no-float.container-inline-date {
  width: auto;
}
/* line 87, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form .field-type-datetime fieldset .date-no-float.container-inline-date .form-type-date-popup {
  display: block;
}
/* line 93, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form .field-type-datetime fieldset .date-no-float.container-inline-date .form-type-date-popup .date-padding {
  padding: 0;
  float: none;
}
/* line 101, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form .field-type-datetime fieldset .date-no-float.container-inline-date .form-type-date-popup .date-padding .form-type-textfield {
  float: none;
}
/* line 107, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form .field-type-datetime fieldset .date-no-float.container-inline-date .form-type-date-popup .date-padding .form-type-textfield > * {
  display: inline-block;
}
/* line 113, ../sass/partials/modules/nodes/_application-add.sass */
#application-node-form .field-type-datetime fieldset .date-no-float.container-inline-date .form-type-date-popup .date-padding .form-type-textfield label:after {
  content: " рождения";
}

@media (min-width: 801px) {
  /* line 7, ../sass/partials/modules/nodes/_application.sass */
  .node-application div.field-group-format fieldset {
    margin-bottom: 0;
  }
  /* line 13, ../sass/partials/modules/nodes/_application.sass */
  .node-application div.field-group-format fieldset:first-child {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 17, ../sass/partials/modules/nodes/_application.sass */
  .node-application div.field-group-format fieldset:last-child {
    width: 47.82609%;
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
}

/* line 7, ../sass/partials/modules/views/_tournaments_front.sass */
.view-tournaments-title {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.view-tournaments-title:after {
  content: "";
  display: table;
  clear: both;
}
/* line 13, ../sass/partials/modules/views/_tournaments_front.sass */
.view-tournaments-title .views-row {
  vertical-align: top;
  position: relative;
  margin-bottom: 2em;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
/* line 27, ../sass/partials/modules/views/_tournaments_front.sass */
.view-tournaments-title .views-row img {
  -webkit-border-radius: 1em 1em 0 0;
  -moz-border-radius: 1em 1em 0 0;
  -ms-border-radius: 1em 1em 0 0;
  -o-border-radius: 1em 1em 0 0;
  border-radius: 1em 1em 0 0;
  width: 100%;
  height: auto;
}
/* line 39, ../sass/partials/modules/views/_tournaments_front.sass */
.view-tournaments-title .views-row .views-field-title, .view-tournaments-title .views-row .views-field-field-status {
  padding: 0.2em;
  text-align: center;
}

/* line 109, ../sass/partials/modules/views/_tournaments_front.sass */
#block-views-tournaments-title-block-1 {
  margin-bottom: 0;
}
/* line 115, ../sass/partials/modules/views/_tournaments_front.sass */
#block-views-tournaments-title-block-1 a:hover, #block-views-tournaments-title-block-1 a:active {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
@media (min-width: 401px) and (max-width: 600px) {
  /* line 125, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row {
    display: inline-block;
    width: 46.66667%;
    margin: 0 6.66667% 6.66667% 0;
  }
  /* line 67, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:nth-child(2n+0) {
    margin-right: 0;
  }
  /* line 133, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child, #block-views-tournaments-title-block-1 .views-row:nth-child(2) {
    display: inline-block;
    width: 100%;
    margin: 0 6.66667% 6.66667% 0;
    position: relative;
  }
  /* line 67, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child:nth-child(1n+0), #block-views-tournaments-title-block-1 .views-row:nth-child(2):nth-child(1n+0) {
    margin-right: 0;
  }
  /* line 77, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child img, #block-views-tournaments-title-block-1 .views-row:nth-child(2) img {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
  }
  /* line 83, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-title,
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-field-status, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-title,
  #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-field-status {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  /* line 93, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-title, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-title {
    bottom: 1.6em;
  }
  /* line 99, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-field-status, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-field-status {
    bottom: 0;
    padding-bottom: 0.4em;
    -webkit-border-radius: 0 0 1em 1em;
    -moz-border-radius: 0 0 1em 1em;
    -ms-border-radius: 0 0 1em 1em;
    -o-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  /* line 125, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row {
    display: inline-block;
    width: 47.82609%;
    margin: 0 4.34783% 4.34783% 0;
  }
  /* line 67, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:nth-child(2n+0) {
    margin-right: 0;
  }
}
@media (min-width: 801px) {
  /* line 125, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row {
    display: inline-block;
    width: 30.43478%;
    margin: 0 4.34783% 4.34783% 0;
  }
  /* line 67, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:nth-child(3n+5) {
    margin-right: 0;
  }
  /* line 153, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child, #block-views-tournaments-title-block-1 .views-row:nth-child(2) {
    display: inline-block;
    width: 47.82609%;
    margin: 0 4.34783% 4.34783% 0;
    position: relative;
  }
  /* line 67, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child:nth-child(2n+0), #block-views-tournaments-title-block-1 .views-row:nth-child(2):nth-child(2n+0) {
    margin-right: 0;
  }
  /* line 77, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child img, #block-views-tournaments-title-block-1 .views-row:nth-child(2) img {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
  }
  /* line 83, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-title,
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-field-status, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-title,
  #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-field-status {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  /* line 93, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-title, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-title {
    bottom: 1.6em;
  }
  /* line 99, ../sass/partials/modules/views/_tournaments_front.sass */
  #block-views-tournaments-title-block-1 .views-row:first-child .views-field-field-status, #block-views-tournaments-title-block-1 .views-row:nth-child(2) .views-field-field-status {
    bottom: 0;
    padding-bottom: 0.4em;
    -webkit-border-radius: 0 0 1em 1em;
    -moz-border-radius: 0 0 1em 1em;
    -ms-border-radius: 0 0 1em 1em;
    -o-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;
  }
}

/* line 3, ../sass/partials/modules/views/_judjes_per_tournament.sass */
.view-id-judjes_per_tournament .views-row {
  *zoom: 1;
  margin: 0.5em 0;
}
/* line 38, ../../../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.view-id-judjes_per_tournament .views-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../sass/partials/modules/views/_judjes_per_tournament.sass */
.view-id-judjes_per_tournament .views-row > * {
  margin-left: 4em;
}
/* line 17, ../sass/partials/modules/views/_judjes_per_tournament.sass */
.view-id-judjes_per_tournament .views-row .views-field-field-image {
  margin-left: 0;
  width: 3em;
  float: left;
}

/* line 11, ../sass/partials/modules/views/_news_per_tournament.sass */
.view-news-per-tournament .current-date, .view-news-per-tournament .views-field-created, .view-news-per-tournament .views-field-field-tournaments {
  font-size: 0.7em;
  color: #d0bea3;
}
/* line 25, ../sass/partials/modules/views/_news_per_tournament.sass */
.view-news-per-tournament .field-name-field-video {
  margin-bottom: 0;
}

/* Title page block */
/* line 39, ../sass/partials/modules/views/_news_per_tournament.sass */
#block-views-news-per-tournament-block-1 .views-field-field-video ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 43, ../sass/partials/modules/views/_news_per_tournament.sass */
#block-views-news-per-tournament-block-1 .views-field-field-video ul li {
  margin-left: 0;
}
/* line 47, ../sass/partials/modules/views/_news_per_tournament.sass */
#block-views-news-per-tournament-block-1 .views-field-field-video ul li iframe {
  width: 100% !important;
}
@media (min-width: 601px) {
  /* line 55, ../sass/partials/modules/views/_news_per_tournament.sass */
  #block-views-news-per-tournament-block-1 .views-row {
    display: inline-block;
    vertical-align: top;
    width: 47.82609%;
  }
  /* line 65, ../sass/partials/modules/views/_news_per_tournament.sass */
  #block-views-news-per-tournament-block-1 .views-row:nth-child(even) {
    margin-left: 4.34783%;
  }
}

/* line 3, ../sass/partials/modules/stuff/_colorbox.sass */
#colorbox, #colorbox * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 9, ../sass/partials/modules/stuff/_colorbox.sass */
#colorbox img {
  min-width: 400px;
  height: auto;
}

/* line 1, ../sass/partials/modules/stuff/_admin-fixes.sass */
#edit-semantics, .form-item-css-class {
  display: none;
}

/* line 7, ../sass/partials/modules/stuff/_admin-fixes.sass */
.node-unpublished {
  background-color: transparent;
}

/* line 1, ../sass/partials/modules/sections/_header.sass */
#header-wrapper {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #ffa500));
  background-image: -webkit-linear-gradient(#ff0000, #ffa500);
  background-image: -moz-linear-gradient(#ff0000, #ffa500);
  background-image: -o-linear-gradient(#ff0000, #ffa500);
  background-image: -ms-linear-gradient(#ff0000, #ffa500);
  background-image: linear-gradient(#ff0000, #ffa500);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='orange');
}
/* line 11, ../sass/partials/modules/sections/_header.sass */
#header-wrapper h2, #header-wrapper legend, #header-wrapper p, #header-wrapper .field-name-field-tournaments .field-items, .field-name-field-tournaments #header-wrapper .field-items, #header-wrapper .view-news-per-tournament .field-name-field-image, .view-news-per-tournament #header-wrapper .field-name-field-image, #header-wrapper .view-news-per-tournament .views-field-created, .view-news-per-tournament #header-wrapper .views-field-created, #header-wrapper .view-news-per-tournament .views-field-field-tournaments, .view-news-per-tournament #header-wrapper .views-field-field-tournaments, #header-wrapper li, #header-wrapper a {
  color: #fff2e1;
  text-shadow: 0 0 6px #1c1007, 0 0 6px #1c1007, 0 0 6px #1c1007;
}
/* line 19, ../sass/partials/modules/sections/_header.sass */
#header-wrapper .block {
  margin-bottom: 0;
}

/* line 25, ../sass/partials/modules/sections/_header.sass */
#header {
  background: url("../images/skyline-brown-transparent.png") bottom center no-repeat;
  background-size: 100%;
}
/* line 31, ../sass/partials/modules/sections/_header.sass */
#header > * {
  padding-bottom: 18%;
}

@media (min-width: 601px) {
  /* line 1, ../sass/partials/modules/sections/_header-first.sass */
  #header-first {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
}

@media (min-width: 601px) {
  /* line 1, ../sass/partials/modules/sections/_header-second.sass */
  #header-second {
    width: 47.82609%;
    float: right;
    margin-right: 0;
  }
}

/* line 1, ../sass/partials/modules/sections/_page.sass */
#page-wrapper {
  background-color: #1c1007;
  -webkit-box-shadow: 0 0 20px black;
  -moz-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}
/* line 15, ../sass/partials/modules/sections/_page.sass */
#page-wrapper .region .block:last-child {
  margin-bottom: 1em;
}
/* line 21, ../sass/partials/modules/sections/_page.sass */
#page-wrapper #page {
  padding-top: 1em;
}

/* line 1, ../sass/partials/modules/sections/_footer.sass */
#footer-wrapper {
  margin-top: 1em;
}
@media (min-width: 601px) {
  /* line 9, ../sass/partials/modules/sections/_footer.sass */
  #footer-wrapper #block-menu-block-1 {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
  }
  /* line 13, ../sass/partials/modules/sections/_footer.sass */
  #footer-wrapper #block-block-9, #footer-wrapper #block-system-navigation {
    width: 21.73913%;
    float: right;
    margin-right: 0;
  }
}
