.view-news-per-tournament

  h2
    @extend h5

  .current-date
    font-size:  0.7em
    color:      $color-pale

  .field-name-field-image
    @extend p

  .field-name-field-video
    margin-bottom: 0

/* Title page block */
#block-views-news-per-tournament-block-1
  +at-breakpoint($layout-large-and-above)
    .views-row
      display:        inline-block
      vertical-align: top
      width:          columns($cols-large/2,$cols-large)

      &:nth-child(even)
        margin-left:  gutter($cols-large)