html
  color             : $color-main
  background-color  : $color-background
  font-size         : 16px
  font-family       : $font-sans

  +at-breakpoint($layout-xxlarge-and-above)
    font-size: 1.2em